@import 'sass/mixins';
@import 'sass/reset';
@import 'sass/variables';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../bower_components/singularity/stylesheets/_singularitygs.scss';

$break0: 640px;
$break1: 768px;
$break2: 1024px;
$break3: 1366px;
$break4: 1675px;

$break-start-resize: 1440px;
$break-end-resize: 1920px;


@include add-grid(36);
@include add-gutter(1/3);
//@include add-gutter-style('split'); // отступы по краям

//@include add-grid(16 at $break0);
//@include add-grid(12 at $break1);
//@include add-grid(16 at $break2);

//@include add-grid(32);
//@include add-grid(12 at $break1);
//@include add-grid(16 at $break2);

//@include add-gutter(1/3);
//@include add-gutter(3/7 at $break0);
//@include add-gutter(3/7 at $break1);
//@include add-gutter(3/7 at $break2);

@include sgs-change('debug', true); // показать сетку

@import 'sass/main';
@import 'sass/test';